<body id="users">
<h1>DANIEL WAS HERE</h1>
>>>>>>> fix_css
<div><%= @user %> </div>

<%= form_for @user do |f| %>
  <span>
    <%= f.text_field :first_name, placeholder: "First Name" %> 
  </span>
  <span>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </span>
  <span>
    <%= f.collection_select :place_id, @places,:id,:name, prompt: true %>
  </span>
  <%= f.submit %>
<% end %>
</body>