
<h1> <%= @author_firstname %>'s Post </h1>
<h2>Author: <%= @author_firstname %> <%= @author_lastname %> </h2>
<h2>Title: <%= @tip.name %></h2>
<h2>Comment: <%= @tip.description %></h2>
<a href = "#"><b>EDIT POST</b></a>