<!DOCTYPE html>
<html>
<head>
  <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="http://dundjinni.com/forums/uploads/Bogie/2A5_CompassRose-1_bg.png"/>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<p>Vagabond</p>
				




				<%= link_to %>

				<% if current_user %>
				<%= button_to "Profile", user_path(current_user), class: "btn btn-default navbar-btn" %>
				<%= button_to "Logout", sessions_path, method :delete, class: "btn btn-default navbar-btn" %>
				<% else %>
				<%= button_to "Signup", sign_up_path, class: "btn btn-default navbar-btn" %>
				<span>or</span>
				<%= button_to "Login", login_path, class: "btn btn-default navbar-btn" %>
				<% end %>

				<%= form_tag ("/search", method: "get") do, class: "navbar-form navbar-right" %>
					<div class="form-group">
						<%= text_field, class: "form-control", placeholder: "search places" %>
						<%= submit_tag, class: "btn btn-default navbar-btn" %>
					</div>
				<% end %>
			</div>
		</nav>

		<%= yield %>

	</div>
</body>
</html>
