<!DOCTYPE html>
<html>
<head>
  <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="http://dundjinni.com/forums/uploads/Bogie/2A5_CompassRose-1_bg.png"/>
  <%= csrf_meta_tags %>
</head>
		<%= render "/layouts/navbar" %>
		<%= yield %>

</html>
